{% extends 'base.html.twig' %}

 {% block title  'agence immobilliere' %}


{% block body %}


<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Ma super agence</h1>
        <p class="lead">lorem ipsum</p>
        <hr class="my-2">
        <p>More info</p>
    </div>
</div>

<div class="container">
    <h2>Nos derniers biens</h2>
   <div class="row flex">

       {% for property in properties %}

       <div class="col-3">
        {% include 'property/property.html.twig' %}
       </div>
       {%  endfor %}
   </div>
</div>

{% endblock %}
 