{% extends 'base.html.twig' %}


{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Ma super agence</h1>
        <p class="lead">lorem ipsum</p>
    </div>
</div>
{% endblock %}